<div class="fan-submission-container">
    <!--PROMPT TEXT BOX-->
    <section class="prompt-text-container">
        <span id="prompt-header-text">Prompt Sample</span>
        <div id="prompt-text">
            Lorem sum dolor sit amet.
            consectetur adolscinc ellt, sed do
            eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Un
            enim ad minim veniam, quis
            nostrud exercitation ullamco
            laboris nisi ut aliquip ex
            ea commodo consequat.
        </div>
    </section>
    <!--UPLOAD SUBMISSION BOX-->
    <section class="upload-submission-container">
        <div id="upload-submission-content">
            <div id="upload-submission-text">
                Fan Submission Upload
            </div>

            <!--FILE SELECTION BUTTON-->
            <div class="file-selection-button-container" (click)="openDialogAccountPopup">
                 <button (click)="openDialogAccountPopup()" class="btn" >
                    Choose File
                </button>
                <div id="file-text">
                    no file selected
                </div>
            </div>
            
        </div>
    </section>
   
</div>
