<!-- ARTIST HEADER -->
<div class="header-container">
  <!--Login/Register
  <section class="login-button-container">
    <button class="login-button" aria-label="login-button" (click)="openDialogAccountPopup()">
        Login/Register
    </button>
  </section>
  -->
    <div>
      <!-- Artist Image -->
      <div>
        <img class="artist-image" src="https://images.pexels.com/photos/13014413/pexels-photo-13014413.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" alt="" />
      </div>

      <!-- Artist Name -->
      <div class="artist-name">
        <h1>Artist Name</h1>
      </div>
    </div>
</div>
