<div class="center">
    <div class="container">
        <div class="text">
            SMS Verification
        </div>
        <form action="#">
           
            <div class="data">
                <label>Enter Security Code</label>
                <input type="password">
            </div>
            <a href="#">
                Resend SMS Code
            </a>
            <div class="btn">
                <div class="inner">
                </div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>