*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif

}

body{
    height: 100vh;
    width: 80%;
    background: linear-gradient(blue, cyan, white)
}

.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.container{
    background: rgba(255, 255, 255);
    width: 320px;
    height: 466px;
    padding: 30px;
    box-shadow: 0 0 8 rgba(0,0,0,0.1);
}

.container .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    height: 75px;
}

.container form{
}
.text{
    padding-top: 15px;
}
.data{
    padding-top: 10px;
    padding-bottom: 10px;
}

.conatiner form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

form .data label{
    font-size: 18px;
}


form .data input{
    height:100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid lightgray;

}

form .btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

form .btn .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background-color: rgb(62, 72, 182);
    transition: all 0.4s;
}

form .btn:hover .inner{
  left: 0;
}



form .btn button{
    height: 100%;
    width:  100%;
    background: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

@media (min-width: 500px) {
    *{
        margin: 0;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif
    
    }
    
    body{
        height: 100vh;
        width: 100%;
        background: linear-gradient(blue, cyan, white)
    }
    
    .container{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    
    .container{
        background: rgba(255, 255, 255, 0.799);
        width: 410px;
        padding: 30px;
        box-shadow: 0 0 8 rgba(0,0,0,0.1);
    }
    
    .container .text{
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        height: 75px;
    }
    
    .container form{
    }
    .text{
        padding-top: 15px;
    }
    .data{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .conatiner form .data{
        height: 45px;
        width: 100%;
        margin: 40px 0;
    }
    
    form .data label{
        font-size: 18px;
    }
    
    
    form .data input{
        height:100%;
        width: 100%;
        padding-left: 10px;
        font-size: 17px;
        border: 1px solid lightgray;
    
    }
    
    form .btn{
        margin: 30px 0;
        height: 45px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    
    form .btn .inner{
        height: 100%;
        width: 300%;
        position: absolute;
        left: -100%;
        z-index: -1;
        background-color: rgb(62, 72, 182);
        transition: all 0.4s;
    }
    
    form .btn:hover .inner{
      left: 0;
    }
    
    
    
    form .btn button{
        height: 100%;
        width:  100%;
        background: none;
        color: white;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }

}
