<div class="center">
    <div class="container">
        <div class="text">
            Login
        </div>
        <form action="#">
            <div class="data">
                <label>Phone Number</label>
                <input type="text">
            </div>
            <a href="#">
                Send SMS Code
            </a>
            <div class="data">
                <label>Enter Security Code</label>
                <input type="password">
            </div>
            <div class="forgot">
            </div>
            <div class="btn">
                <div class="inner">
                </div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
