<div class="center">
    <div class="container">
        <div class="text">
            Register
        </div>
            <div class="data">
                <label>First Name</label>
                <input type="text">
            </div>
            <div class="data">
                <label>Last Name</label>
                <input type="password">
            </div>
            <div class="data">
                <label>Phone Number</label>
                <input type="password">
            </div>
            <div class="btn">
                <div class="inner">
                </div>
                <button (click)="openDialogVerify()">Submit</button>
            </div>
    </div>
</div>
